
/* .Trending{
     margin-top: 200px;
} */

.pageTitle{
     text-transform: uppercase;
     display: flex;
     padding-top: 50px;
     justify-content: center;
     font-size: 2vw;
     border-radius: 50px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width:1000px) {
     .pageTitle{
          font-size: 6.4vw;
     }
}